/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap.min
*= require apni-format
*= require sparql-search
*= require themes/ui-lightness/jquery-ui-1.10.4.custom.css
*= require_self
*/

body.test {
    background-color: rgba(123, 0, 255, 0.22);
}

div.logo {
    font-size: 1.5em;
    color: darkolivegreen;
    /*background-color: #ECECE3;*/
    border-radius: 6px;
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    padding: 6px;
}

.nsl {
    display: inline;
}

@media(min-width:992px) and (max-width:1100px){
    div.logo img {
        -ms-transform: rotate(90deg) translate(50px, 50px);
        -webkit-transform: rotate(90deg) translate(50px, 50px);
        -moz-transform: rotate(90deg) translate(50px, 50px);
        transform: rotate(90deg) translate(50px, 50px);
        margin-bottom: 130px;
    }
}

@media(min-width:1100px) {
    .nsl {
        white-space: nowrap;
        display: block;
    }
}

@media(max-width:1030px) {
    twitter {
         display: none;
    }
}

div.logo p {
    display: inline-block;
    margin: 0;
    line-height: 1.3;
}

div.logo p::first-letter {
    font-size: 1.5em;
}

div.logo div.sublogo {
    display: inline-block;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 0.9em;
    color: #66512c;
}

/* styles for basic CRUD pages */
li.fieldcontain {
    display: block;
}

li.fieldcontain span {
    display: block;
}

li.fieldcontain span.property-label {
    font-weight: bold;
}

li.fieldcontain span.property-value {
    padding-left: 20px;
}

.scaffold-list tr {
    display: table-row;
}

.scaffold-list th,
.scaffold-list td {
    display: table-cell;
    padding-right: 1em;
}
div.pagination a,
div.pagination span {
    padding: 5px 10px;
    margin-right: 5px;
}

div.pagination span.currentStep{
    border: solid #017cc6 1px;
    border-radius: 5px;
}

div.pagination a {
    border: solid #b3b3b3 1px;
    border-radius: 5px;
}

.green {
    color: #0ccf00;
}

a {
    color: #023C6E;
}
a:hover {
    color: #0271c2;
}
.well {
    background-color: #FAFAF8;
}

.vertbar {
    border-left: 1px grey solid;
    padding-left: 5px;
}

.limit {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.rest-resource-content {
    padding-left: 15px;
}

.see-through {
    opacity: 0.5;
}

.text-default {
    color: black;
}

.form-control {
    !important;
    font-weight: normal;
}

#max {
    margin-right: -80px;
}